<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do app</title>
</head>
<body>
  <h1>To Do app</h1>
  <input type="text" placeholder="Enter Your Task" [(ngModel)] = "todovalue" (keyup.enter) = "addItem()"> <br><br>
  <button (click)="addItem()">Add To Do</button>

  <div>
    <ul>
      <li>
        <input type="checkbox" name="isDone"  [(ngModel)]="item.isDone">
        {{item.value}}
       
        <button (click)="deleteItem()">Delete</button>
      </li>
    </ul>
  </div>
</body>
</html>